Package: __PACKAGE__
Version: __VERSION__
Section: science
Priority: optional
Architecture: all
Depends:
  __I2B2_PACKAGE_DEPENDENCY__,
  r-base-core,
  r-cran-lattice,
  r-cran-xml,
  r-cran-tidyverse,
  python3,
  python3-pandas,
  python3-numpy,
  python3-requests,
  python3-sqlalchemy,
  python3-psycopg2,
  python3-postgresql,
  python3-zipp,
  python3-plotly,
  python3-gunicorn
Recommends: postgresql-__POSTGRESQL_VERSION__
Maintainer: AKTIN IT <it-support@aktin.org>
Homepage: https://www.aktin.org/
Description: AKTIN Emergency Department Data Warehouse Package
 This package installs and configures he AKTIN Emergency Department Data Warehouse.
 It includes:
  - The AKTIN DWH for data processing and data sharing operations of ED data.
  - Python scripts for importing and processing ED data.
  - R packages for data analysis and visualization using tidyverse and other packages.
  - Integration with the i2b2 framework for data storage and retrieval.
 .
